/* 
Must do wednesday
- remove all floats 
- segment out your content using percentages (9,40,2,40,9)
*/
nav{
	padding-top:20px;
	background-color:transparent;
	padding-bottom:5px;
	top:0; 
	position:fixed;
	z-index: 999;
	width:100%;
	height: 3.5em;
}

.leftNavItems{
	width:50%;
	display:inline-block;
	font-family: sans-serif;
	font-size:25px;
	font-weight: bold;
}

.leftNavItems div{
	margin-left:1em;
}

.title{
	font-family:sans-serif;
	font-size:15px;
	margin-bottom:-10px;
	margin-top:-0.4px;
}

.rightNavItems{
	width:50%;
	display:inline-block;
	font-family:sans-serif;
	font-size:20px;
	margin-top:-20px; 
	text-align:right;
}

.rightNavItems span{
	margin-right:1em;
}

a, .title {
	text-decoration:none;
	color:lightgrey;
}

a:hover{
	text-decoration:underline;
}

#topSection{
	background-color:#1E90FF;
	/*background-image: url( ../images/banff.jpeg  ) ; */
	color:white;
}


.centerpage{
	text-align:center;
	padding-top:200px;
	font-size:30px;
	line-height:10px;
}

#portfolioDiv{
	margin-top:160px;
	padding-top:50px;
	padding-bottom:50px;
	background-color:steelblue;
}

.scrollHand{
	margin-top:1em;
}

.downwardArrow{
	color:steelblue;
	text-align:center;
	margin-top:-2px;
}

#portfolio{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	height:48em;
	padding-top:60px;
	padding-left:5px;
}

.box{
	background-color:gray;
	height:19em;
	width:21em;
	float:left; 
	margin:15px;
}

.boxImage{
	height:17em;
	width:21em;
}
.boxHeading{
	height:2em;
	background-color:steelblue;
	color:white;
	text-align:center;
	padding-top:1em;
}

.hiddenDiv{
	background-color: gray;
	height: 252px;
	width:303px;
	color:white;
	padding-top:3em;
	margin-top:-16em;
	position:relative;
	float:left;
	opacity:0.6;
	padding: 0 1em 0 1em;
}

.hiddenDiv{
	display:none;
}

#box1:hover > .hiddenDiv1{
	display:block;
}

#box2:hover > .hiddenDiv2{
	display:block;
}

#box3:hover > .hiddenDiv3{
	display:block;
}

#box4:hover > .hiddenDiv4{
	display:block;
}

.viewButton{
	display:none;
}
#aboutMe{
	clear:both;
	background-color:azure;
	padding-top:80px;
	padding-left:200px;
	padding-right:270px;
	padding-bottom:60px;
	font-size:1.5em;
}
.downwardArrow2{
	margin-top:-2.15em;
	color:white;
	padding-bottom:2em;
}
.skills{
	clear:both;
	text-align:center;
	padding-top:2em;
	padding-bottom:2em;
	background-color:gainsboro;
}

.logos{
	height:5em;
	width:5em;
}
.cssLogo{
	height:5em;
	width:3.7em;
}
.nodejsLogo{
	height:5em;
	width:9em;
}

.sassLogo{
	height:5em;
	width:7em;
}
.bootstrapLogo{
	padding-right:0.5em;
	height:4.5em;
	width:4.5em;
}
#footer{
	padding:3em;
	background-color:#1E90FF;
	text-align:center;
}

#emailAddress{
	padding-bottom:2em;
}

.githubLogo{
	height:50px;
	width:50px;
	margin-right:1em;
	position:relative;
}
.twitterLogo{
	height:50px;
	width:50px;
	margin-right:1em;
	position:relative;
}
.linkedInLogo{
	height:50px;
	width:50px;
	margin-right:1em;
	position:relative;
}
.mailPicture{
	height:50px;
	width:50px;
	position:relative;
}
.bottomFooter{
	background-color:black;
	height:36px;
	color:white;
	text-align:center;
	padding-top:20px;
}
.bottom{
	background-color:red;
	height:0.4em;
	width:3em;
	position:relative;
}
.tailFooter{
	background-color:orange;
	height:0.2em;
}
.mobileDetails{
	display:none;
}

/*@media(max-width: 851px){
	#nav{background-color:#1E90FF;}
} /* Use Bootstrap to reorganize nav links */

@media only screen and (max-width: 401px){

	.portfolioDiv{
		background-color:red;
	}

	#aboutMe{
		padding: 4em 2em 1em 2em;
		margin-top:-23px;
		font-size:1em;
	}

	#portfolio{
		width:400px;
		margin-left:1em;
		margin-bottom:105em;
	}

	#box1, #box2, #box3, #box4{
		margin-bottom:1.5em;
	}

	.viewButton{
		display:block;
		margin-left:30%;
		height:2em;
		width:8em;
		border:solid steelblue 1px;
		background-color:white;
		margin-bottom:3em;
	}

	.mobileDetails{
		display:block;
		/* margin:0 2em 0 2em; */
		text-align:center;
	}

	.portfolioUl{
		list-style: none;
	}

	#box1:hover > .hiddenDiv1{
		display:none;
	}

	nav{
		background-color:red;
	}
}

@media (min-width:401px) and (max-width: 472px){
	#aboutMe{
		padding: 4em 2em 1em 2em;
		font-size:1em;
	}
}

@media (min-width:472px) and (max-width: 930px){
	#aboutMe{
		padding: 4em 2em 1em 2em;
	}
}

@media (min-width:930px){
	#aboutMe{
		padding: 4em 5em 1em 5em;
	}
}
