
nav{
	padding-top:20px;
	background-color:transparent;
	padding-bottom:5px;
	top:0; 
	position:fixed;
	z-index: 999;
	width:100%;
}

.leftNavItems{
	width:50%;
	display:inline-block;
	font-family: sans-serif;
	font-size:25px;
	font-weight: bold;
}

.leftNavItems div{
	margin-left:1em;
}

.title{
	font-family:sans-serif;
	font-size:15px;
	margin-bottom:-10px;
	margin-top:-0.4px;
}

.rightNavItems{
	width:50%;
	display:inline-block;
	font-family:sans-serif;
	font-size:20px;
	margin-top:-20px; 
	text-align:right;
}

.rightNavItems span{
	margin-right:1em;
}

a, .title {
	text-decoration:none;
	color:lightgrey;
}

a:hover{
	text-decoration:underline;
}

#topSection{
	background-color:#1E90FF;
	/*background-image: url( ../images/banff.jpeg  ) ; */
	color:white;
}

.centerpage{
	text-align:center;
	padding-top:200px;
	font-size:30px;
	line-height:10px;
}

.scrollDown{
	margin-top:160px;
	padding-top:50px;
	padding-bottom:50px;
	background-color:steelblue;
}

.scrollHand{
	margin-top:1em;
}

.downwardArrow{
	color:steelblue;
	text-align:center;
	margin-top:-2px;
}

#portfolio{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	padding-top:60px;
	padding-left:5px;
}
.box{
	background-color: #E3E0E2;
	height:240px;
	width:330px;
	float:left; 
	margin:15px;
}

#box1{
	background-image: img("./images/ironquiz.png");
}

#aboutMe{
	clear:both;
	background-color:azure;
	padding-top:80px;
	padding-left:200px;
	padding-right:270px;
	padding-bottom:60px;
	font-size:1.5em;
}

.skills{
	clear:both;
	text-align:center;
	padding-top:2em;
	margin-bottom:2em;
}

#footer{
	padding:3em;
	background-color:#1E90FF;
	text-align:center;
}

#emailAddress{
	padding-bottom:2em;
}

.githubLogo{
	height:64px;
	width:64px;
	margin-right:1em;
	position:relative;
}
.twitterLogo{
	height:64px;
	width:64px;
	margin-right:1em;
	position:relative;
}
.linkedInLogo{
	height:64px;
	width:64px;
	margin-right:1em;
	position:relative;
}
.mailPicture{
	height:64px;
	width:64px;
	position:relative;
}
.bottomFooter{
	background-color:black;
	height:2em;
}

.tailFooter{
	background-color:orange;
	height:0.2em;
}